h1{
	color:#006293;
}
.pesquisa{
	background: #006293;
	color: white;
	padding: 5px 70%;
	text-align: left;
	float: left;
}
button{
	width: 10%;
	margin: 10%;
	float: right;
}
button img{
	width: 20%;
}