.agaHUM{
	font-family: Montserrat extrabold, sans-serif;
	color:#FFFFFF;
	background: rgba(241, 90, 36, 0.8);
	padding: 1%;
}
#Cabecalhotopo{
	overflow: auto;
	zoom: 1;
}

#cabecalhocurso{
	background: url(Imagens/Banner-Design.jpg);
	overflow: auto;
	zoom:1;
	position: relative;
	margin: 0;
	height: 428px;
}
#cabecalhocurso h1{
	font-size: 45px;
	padding-left: 7%;
	margin: 0;
	width: 300px;
}
.DESIGN{
	margin-top: 0px;
	font-size: 45px;
	overflow: auto;
	zoom:1;
	position: relative;
}
.submenu{
	background: #F15A24;
	overflow: auto;
	zoom: 1;
	position: relative;
	margin-top: -70px;
	margin-left: 515px;
	margin-right: 334px;
}
.submenu a{
	color: #FFFFFF;
	font-family: Montserrat, sans-serif;
	text-decoration: none;
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
}
.submenu a:hover{
	text-decoration: none;
	background: #B5441B;
}

.breve-historia{
	background: rgba(241, 90, 36, 0.9);
	position: absolute;
	margin-top: -1000px;
	width: 670px;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 60px;
}
.breve-historia p{
	color: #FFFFFF;
	font-size: 20px;
}

#corpo{
	overflow: auto;
	zoom: 1;
}
.esquerda{
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	margin-right: auto;
	overflow: auto;
	zoom: 1;	
}
.esquerda h3, .esquerda h4, .esquerda p{
	float: left;
	padding-right: 60%;
	padding-left: 1%; 
	margin-left: auto;
	overflow: auto;
	zoom: 1;
}
.direita{
	background:#FFDB08;
	float: right;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	overflow: auto;
	zoom: 1;
}
.direita h3, .direita p{
	float: right;
	overflow: auto;
	zoom: 1;
}
.flexbox {
	display: flex;
	flex-direction: row;
}

.flexbox .coluna {
	padding: 50px 60px;
	padding-top: 20px;
}
.flexbox .coluna+.coluna{
	padding: 20px;
	padding-right: 40px;
}

#sobre-curso, #dados-curso {
	width: 40%;
}
#dados-curso h3{
	margin-bottom: 2px;
}
#dados-curso h4{
	margin-top: 2px;
}
#ultima-coluna{
	width: 20%;
	padding: 0;
}
.resumo-curso {
	padding: 1% 5%;
	padding-right: 30px;
	background: rgba(195, 61, 30, 0.80);
	margin-top: -200px;
	padding-bottom: 10%;
	position: relative;
}

.resumo-curso p{
	font-size: 88%;
	color:white;
	margin: 0;
}
.resumo-curso h4{
	color: white;
	margin-bottom: 2px;
	margin-top:25px;
}
.mais-cursos h4{
	padding: 7%;
	margin:0;
}
.mais-cursos a{
	text-decoration: none;
	padding-left: 7%;
	padding-right: 30px;
	display: block;
}
.mais-cursos a:hover{
	text-decoration: none;
	color: #234EA5;
}
.mais-cursos{
	background: rgba(255, 219, 8, 0.30);
}
.mais-cursos h4{
	margin-top: 1%;
	background: #F15A24;
	color: white;
	font-size: 23px;
}
#adm{
	background: #78ACFF;
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
}
#ciencias{
	background: #A577D3;
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
}
#sistemas{
	background: #B0E028;
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
}