h1{
	font-family: Montserrat extrabold, sans-serif;
	color:#FFFFFF;
	background: rgba(241, 90, 36, 0.8);
	padding: 1%;
}
#Cabecalhotopo{
	overflow: auto;
	zoom: 1;
}

#cabecalhocurso{
	background: url(Imagens/Banner-Design.jpg);
	overflow: auto;
	zoom:1;
}
#cabecalhocurso h1{
	font-size: 45px;
	padding-left: 7%;
	margin: 85px;
}
.DESIGN{
	margin-top: 0px;
	font-size: 45px;
	overflow: auto;
	zoom:1;
}
.submenu{
	background: #BFA406;
	overflow: auto;
	zoom: 1;
	justify-content: center;
}
.submenu a{
	color: #FFFFFF;
	font-family: Montserrat, sans-serif;
	text-decoration: none;
	padding: 1%;
}
.submenu a:hover{
	text-decoration: none;
	background: #8E7C05;
}
#corpo{
	overflow: auto;
	zoom: 1;
}
.esquerda{
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	margin-right: auto;
	overflow: auto;
	zoom: 1;	
}
.esquerda h3, .esquerda h4, .esquerda p{
	float: left;
	padding-right: 60%;
	padding-left: 1%; 
	margin-left: auto;
	overflow: auto;
	zoom: 1;
}
.direita{
	background:#FFDB08;
	float: right;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	overflow: auto;
	zoom: 1;
}
.direita h3, .direita p{
	float: right;
	overflow: auto;
	zoom: 1;
}
.flexbox {
	display: flex;
	flex-direction: row;
}

.flexbox .coluna {
	padding: 0 20px;
}

#sobre-curso, #dados-curso {
	width: 40%;
}
#ultima-coluna{
	width: 20%;
	padding: 0;
}
.resumo-curso {
	border-left: 5%;
	padding: 1% 5%;
	background: rgba(255, 219, 8, 0.15);
}

.resumo-curso p{
	font-size: 88%;
}
.mais-cursos h4{
	padding: 7%;
	margin:0;
}
.mais-cursos a{
	text-decoration: none;
	padding-left: 7%;
	display: block;
}
.mais-cursos a:hover{
	text-decoration: none;
	color: #234EA5;
}
.mais-cursos{
	background: rgba(255, 219, 8, 0.30);
}