body{
	margin:auto;
	font-family: Montserrat;
	color: white;
	font-size: 16px;
	width: auto;
	margin: auto;
	text-decoration: none;
}
h3, h4{
	font-family: Montserrat extrabold, sans-serif;
	color:#1B1464;
}
p{
	font-family: Montserrat light, sans-serif;
	line-height: 1.5;
	color:#1B1464;
}

#Cabecalho{
	align-items: center;
}

.caixaazul{
	background: linear-gradient(to right, rgba(107, 178, 198, 1.0), rgba(57, 135, 199, 1.0));
	zoom: 1;
	width: 100%;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.colunacabecalho{
	font-weight: bold;
	overflow: auto;
	zoom: 1;
	align-items: center;
}
.colunacabecalho a{
	text-decoration: none;
	color:#FFFFFF;
}
.colunacabecalho a:hover{
	text-decoration: none;
}

.flexbox .colunacabecalho{
	text-align: center;
	padding: 0 80px;
}

.ajustecabecalho{
	align-items: center;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	position: relative;
	justify-content: center;
	/* overflow: auto; */
	zoom: 1;
}

.ajustaHamburguer{
	text-align: left;
	padding: 20px;
	color: white;
}
.ajustaHamburguer h5{
	font-family: Montserrat light, sans-serif;
	font-size: 14px;
}
.Links{
	text-align: left;
	position: relative;
	justify-content: center;
    overflow: auto;
    zoom: 1;
    margin-top: 30px;
}
.Links a{
	padding-left: 23px;
	padding-right: 23px;
}



#divBusca{
    background-color:#E0EEEE;
    border:solid 1px #1a58aa;
    border-radius:10px;
    width:143px;
    height:35px;
	align-items: center;
	margin-left: 5%;
	margin-right: 5%;
	text-align: left;
}
 
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;  
    font-size:18px;
    border:none;
    height:32px;
    width:101px;
}
 
#btnBusca{
    border:none;
    border-radius: 7px;
    float:left;
    width: 35px;
    background: #1a58aa;
    margin: 0px;
    height: 100%;
	border: 0px;
	position: relative;
	}

#btnBusca img{
	height: 60%;
}

footer{
	background: #3988C8;
	display: block;
	height: 100%;
	padding-top: 10px 
}
.rodape{
	color: #ffffff;
	font-size: 80%;
}
.rodape a{
	text-decoration: none;
	color: #ffffff;
	font-family: Montserrat light, sans-serif;
}
.rodape a:hover{
	color: #070060;
}
.rodape h4{
	font-family: Montserrat, sans-serif;
	font-size: 100%;
}
.logo-rodape{
	width: 300px;
	margin-top: 1.5%;
}
.logo-rodape img{
	width: 60%;
	padding-left: 10%
}


