body{
	margin:auto;
	font-family: Montserrat;
	color: white;
	font-size: 16px;
	width: auto;
	margin: auto;
	text-decoration: none;
}
h1{
	font-family: Montserrat extrabold, sans-serif;
	color:#F15A24;
}
h3, h4{
	font-family: Montserrat extrabold, sans-serif;
	color:#1B1464;
}
p{
	font-family: Montserrat light, sans-serif;
	line-height: 1.5;
	color:#1B1464;
}

#Cabecalho{
	overflow: auto;
	zoom: 1;
}


.caixaazul{
	background: #0180B0;
	padding-top: 15px;
	padding-bottom: 10px; 
	padding-left: 25%;
	overflow: auto;
	zoom: 1;
}

.colunacabecalho{
	font-weight: bold;
	float: center;
	overflow: auto;
	zoom: 1;
}
.flexbox .colunacabecalho{
	text-align: center;
	padding: 0 40px;
}





footer{
	background: #3988C8;
	display: block;
	height: 100%;
	padding-top: 10px 
}
.rodape{
	color: #ffffff;
	font-size: 80%;
}
.rodape a{
	text-decoration: none;
	color: #ffffff;
	font-family: Montserrat light, sans-serif;
}
.rodape a:hover{
	color: #070060;
}
.rodape h4{
	font-family: Montserrat, sans-serif;
	font-size: 100%;
}
.logo-rodape{
	width: 300px;
	margin-top: 1.5%;
}
.logo-rodape img{
	width: 60%;
	padding-left: 10%
}
