

#Bannerdestaque{
	overflow: auto;
	zoom: 1;
}

#Cursos{
	width: 100%;
}

#Cursos > div {

	color: #28275A;
	text-align: center;
	position: relative;
	padding: 30px 30px 70px 30px;
	width: 25%;
	background-size: cover;
	align-items: center;
	justify-content: center;
}

#Cursos .leia-mais {
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.administracao{
	background: linear-gradient(rgba(129, 172, 255, 0.30), rgba(129, 172, 255, 0.30)), url(Imagens/fundo-home-adm.jpg);
}
.administracao .leia-mais{
	background: #6B9EE8;
}

.contabeis{
	background: linear-gradient(rgba(196, 166, 255, 0.30), rgba(196, 166, 255, 0.30)), url(Imagens/fundo-home-contabeis.jpg);
}
.contabeis .leia-mais{
	background: #A38CDD;
}

.sistemas{
	background: linear-gradient(rgba(176, 244, 0, 0.30), rgba(176, 244, 0, 0.30)), url(Imagens/fundo-home-sistemas.jpg);
}
.sistemas .leia-mais{
	background: #9EC400;
}

.design{
	background: linear-gradient(rgba(255, 219, 8, 0.30), rgba(255, 219, 8, 0.30)), url(Imagens/fundo-home-design.jpg);
}
.design .leia-mais{
	background: #BFA406;
}






#EstagioFacebook{
	height: 623px;
	overflow: auto;
	zoom: 1;
}

.estagioDestaques{
	position: relative;
	color:  #28275A;
	background: #e7eaf3;
	overflow: auto;
	zoom: 1;
	float: left;
	width: 840px;
	height: 623px;
	text-decoration: none;
}

.estagioDestaques a{
	color:  #28275A;
	text-decoration: none;
}
.estagioDestaques a:hover{
	text-decoration: underline;
}



#Portaria{
	height: 60px;
	overflow: auto;
	zoom: 1;
	text-align: center;
	text-decoration: none;
	background-color: #D5D4D2;
	color: #28275A;
}

#Portaria a{
	position: relative;
	padding-top: 5px;
	padding-left: 5%;
	top: 20px;
	text-decoration: none;
	font-weight: bolder;
	color: #28275A;
}
#Portaria a:hover{
	text-decoration: underline;
	color: yellow;
}

