

#Bannerdestaque{
	overflow: auto;
	zoom: 1;
}

#Cursos{
	width: 100%;
}

#Cursos > div {

	color: #28275A;
	text-align: center;
	position: relative;
	padding: 30px 30px 70px 30px;
	width: 25%;
	background-size: cover;
	align-items: center;
	justify-content: center;
}

#Cursos .leia-mais {
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: white;
    text-decoration: none;
}
/* trocar imagem */
.administracao{
	background: radial-gradient(rgba(139, 182, 255, 0.10), rgba(108, 157, 233, 0.65)), url(Imagens/fundo-home-adm.jpg);
}
.administracao .leia-mais{
	background: #6B9EE8;
}

.contabeis{
	background: radial-gradient(rgba(210, 186, 255, 0.10), rgba(163, 140, 222, 0.65)), url(Imagens/fundo-home-contabeis.jpg);
}
.contabeis .leia-mais{
	background: #A38CDD;
}

.sistemas{
	background: radial-gradient(rgba(176, 244, 0, 0.25), rgba(146, 224, 0, 0.65)), url(Imagens/fundo-home-sistemas.jpg);
}
.sistemas .leia-mais{
	background: #9EC400;
}

.design{
	background: radial-gradient(rgba(235, 200, 0, 0.25), rgba(200, 190, 0, 0.65)), url(Imagens/fundo-home-design.jpg);
}
.design .leia-mais{
	background: #BFA406;
}






#EstagioFacebook{
	height: 623px;
	overflow: auto;
	zoom: 1;
}

.estagioDestaques{
	position: relative;
	color:  #28275A;
	background: #e7eaf3;
	overflow: auto;
	zoom: 1;
	float: left;
	width: calc(100% - 500px);
	height: 623px;
	text-decoration: none;
}

.estagioDestaques a{
	color:  #28275A;
	text-decoration: none;
}
.estagioDestaques a:hover{
	text-decoration: underline;
}


#Portaria{
	height: 60px;
	overflow: auto;
	zoom: 1;
	text-align: center;
	text-decoration: none;
	background-color: #D5D4D2;
	color: #28275A;
}

#Portaria a{
	position: relative;
	padding-top: 5px;
	padding-left: 5%;
	top: 20px;
	text-decoration: none;
	font-weight: bolder;
	color: #28275A;
}
#Portaria a:hover{
	text-decoration: underline;
	color: yellow;
}

.centro{
	margin:; 0px;
	text-align: center;
	width: 100%
}
.titulo{
	margin: 0px;
	background-color: #3988ca;
	color: white;
	text-align: center;
	width: 100%;
	height: 7%;
	padding-top: 1%;
}

.ajuste{
	margin: 0px;
	padding-top: 3%;
	text-align: center;
	width: 100%;
}