body{
	margin:auto;
	font-family: Montserrat;
	font-weight: regular;
	color: white;
	font-size: 16px;
	width: auto;
	margin: auto;
	text-decoration: none;
}


#Cabecalho{
	overflow: auto;
	zoom: 1;
}

.caixaazul{
	background: #0180B0;
	padding-left: 11%;
	padding-right: 11%;
	padding-top: 1.5%;
	padding-bottom: 1%;
	overflow: auto;
	zoom: 1;
}


#Bannerdestaque{
	overflow: auto;
	zoom: 1;
}



#Cursos{
	width: 100%;
}

#Cursos > div {
	text-align: center;
	position: relative;
	padding: 30px 30px 90px 30px;
	width: 25%;
	background-size: cover;
	align-items: center;
	justify-content: center;
}

#Cursos .leia-mais {
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.administracao{
	background: linear-gradient(rgba(129, 172, 255, 0.30), rgba(129, 172, 255, 0.30)), url(Imagens/fundo-home-adm.jpg);
}
.administracao .leia-mais{
	background: #6B9EE8;
}

.contabeis{
	background: linear-gradient(rgba(196, 166, 255, 0.30), rgba(196, 166, 255, 0.30)), url(Imagens/fundo-home-contabeis.jpg);
}
.contabeis .leia-mais{
	background: #A38CDD;
}

.sistemas{
	background: linear-gradient(rgba(176, 244, 0, 0.30), rgba(176, 244, 0, 0.30)), url(Imagens/fundo-home-sistemas.jpg);
}
.sistemas .leia-mais{
	background: #9EC400;
}

.design{
	background: linear-gradient(rgba(255, 219, 8, 0.30), rgba(255, 219, 8, 0.30)), url(Imagens/fundo-home-design.jpg);
}
.design .leia-mais{
	background: #BFA406;
}

.imagem{
	opacity: 0.15;
	height: 315px;
	width: 100%;
	filter: alpha(opacity=15);
}
.info{
	position: absolute;
	text-align: center;
	left: 7%;
	top: 5%;
	width: 85%;
}
.info p{
	padding-top: 15px;
}
.info a{
	text-decoration: none;
	text-align: center;
	color: white;
	margin-left: 25%;
	margin-top: 10px;
}


.contabeis{
	position: relative;
	overflow: auto;
	color: #28275A;
	zoom: 1;
	float: left;
	width: 25%;
}
.backgroundContabeis{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #c4a6ff;
	opacity: 0.15;
	filter: alpha(opacity=15);
	width: 100%;
	height: 310px;
}
.BoxLeiamaisContabeis{
	position: absolute;
	left: -8%;
	top: 260px;
	background-color: #c4a6ff; 
	width: 117%;
	height: 42px;
}

.BoxLeiamaisDesign{
	position: absolute;
	left: -8%;
	top: 260px;
	background-color: #ffdb08; 
	width: 117%;
	height: 42px;
}



.sistemas{
	position: relative;
	color: #28275A;
	overflow: auto;
	zoom: 1;
	float: left;
	width: 25%;
}
.backgroundSistemas{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #B0E000;
	opacity: 0.15;
	filter: alpha(opacity=15);
	width: 100%;
	height: 310px;
}
.BoxLeiamaisSistemas{
	position: absolute;
	left: -8%;
	top: 260px;
	background-color: #B0E000; 
	width: 117%;
	height: 42px;
}







#EstagioFacebook{
	height: 623px;
	overflow: auto;
	zoom: 1;
}
.estagioDestaques{
	position: relative;
	color:  #28275A;
	overflow: auto;
	zoom: 1;
	float: left;
	width: 840px;
	height: 623px;
}
.estagioDestaques a{
	text-decoration: none;
}
.Destaques{
	top: 0px;
	margin: 0;
	padding-top: 7px;
	position: absolute;
	text-align: center;
	background-color: #3989C9;
	color: #FFFFFF;
	height: 38px;
	width: 840px;
}
.Estagio{
	top: 287px;
	margin: 0;
	padding-top: 7px;
	position: absolute;
	text-align: center;
	background-color: #3989C9;
	color: #FFFFFF;
	height: 38px;
	width: 840px;
}
.backgroundEstagioDestaques{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #3A4A9F;
	opacity: 0.15;
	filter: alpha(opacity=15);
	width: 840px;
	height: 623px;

}



#Portaria{
	height: 60px;
	overflow: auto;
	zoom: 1;
	text-align: center;
	text-decoration: none;
	background-color: #D5D4D2;
	color: #28275A;
}

#Portaria a{
	position: relative;
	padding-top: 5px;
	padding-left: 180px;
	top: 15px;
	text-decoration: none;
	font-weight: bolder;
	color: #28275A;
}

#Rodape{
	display: inline-block;
	overflow: auto;
	zoom: 1;
}
.rodapecaixa{
	background: #0d6b93;
	padding-left: 11%;
	padding-right: 11%;
	padding-top: 1%;
	padding-bottom: 1%;
	display: block;
	overflow: auto;
	zoom: 1;
}

#Rodapé div a{
	text-decoration: none;
	color: white;
}